<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
 	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="#"/>
    <!-- <title th:text="${title}">ZS POS</title> -->
    <title th:text="#{stock.page.title}"></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>  
</head>
<body>
	<form action="" method="get" class="">
	  <div class="">
	    <label for="name" th:text="#{stock.form.label.name}"> </label>
	    <input type="text" required="required">
	  </div>
	  <div class="form-example">
	    <label for="" th:text="#{stock.form.label.qty}"> </label>
	    <Select  required="required">
	    	<option value="ps">Ps</option>
	    	<option value="plate">Plate</option>
	    	<option value="unit">Unit</option>	    	
	    </Select>
	  </div>
	  <div class="form-example">
	    <label for="" th:text="#{stock.form.label.prestck}"> </label>
	    <input type="number" readonly="readonly">
	  </div>
	  <div class="form-example">
	    <input type="submit" th:text="#{stock.form.label.save}">
	  </div>
	</form>

</body> 
      
</html>